ul {
    list-style-type: none;
    padding-left: 0;
}

li{
    padding-bottom: 20px;
    padding-top: 20px;
}

footer {
    color: black;
    text-align: center;
}

footer button{
    font-size: 1.8em;
    padding-right: 8px;
    padding-left: 5px;
    padding-bottom: 1px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.option {
    font-size: 1.3em;
    text-align: center;
}

.option{
    border-radius: 10px;
}

