ul {
    list-style-type: none;
}

footer {
    color: black;
    font-size: 2em;
    text-align: center;
}

footer a, footer a:visited {
    padding-right: 8px;
    padding-left: 5px;
    padding-bottom: 2px;
    border-radius: 25px;
    border: 1px solid;
    color: black;
    text-decoration: none;
}

.option {
    font-size: 1.3em;
}