<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>YTT_Share_Stats</string>
		<key>Title</key>
		<string>Share stats</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>YTT_User_ID</string>
		<key>Title</key>
		<string>UUID</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
