body{
    background: #777777;
}

.infosHolder>p,
button,
select{
    background-color: #ABABAB;
}

hr {
    border-color: #BBBBBB;
}

footer a, footer a:visited{
    background-color: #666666;
}

.option:hover{
    background-color: #6F6F6F;
}