body{
    background: #BBBBBB;
}

.infosHolder>p,
button,
select{
    background-color: #DFDFDF;
}

footer a, footer a:visited{
    background-color: #BBBBBB;
    color: black;
    text-decoration: none;
}

.option:hover{
    background-color: #BFBFBF;
}